<h1>Rock Paper Scissors</h1>
  <form action="/player_2">
    <div class="form-class">
      <label for="player1">Select a move</label>
      <input id="player1" name="player1" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>    
