<h1>Rock Paper Scissors</h1>
<form action="/result">
  <div class="form-group">
    <label for="player1">Player 1, select a move</label>
    <input id="player1" name="player1" class="form-control" type="text">
    <label for="player2">Player 2, select a move</label>
    <input id="player2" name="player2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
