<h1>Player 2, make a move</h1>
<form action="/result">
  <div class="form-group">
    <label for="player2">Player 2's move</label>
    <input id="player2" name="player2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Who won?</button>
</form>
